.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90vw;
  min-width: 1024px;
  height: 80px;

  margin-top: 20px;

  border-top: 1px solid #eaeaea;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footer img {
  margin-left: 0.5rem;
}

.footer p {
  margin-right: 6px;
}

.footer p:first-child:after {
  content: " - ";
  margin-left: 6px;
}

@media (max-width: 450px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;

    height: 100px;
    width: 100vw;
    box-shadow: none;
  }

  .footer p {
    margin: 10px 0;
  }

  .footer p:first-child:after {
    content: "";
    margin-left: 0;
  }
}
