.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 0;
}

.title {
  font-size: 2.7rem;
  text-align: center;
  margin-top: 3rem;
}

.subtitle {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  margin: 4px 5px 0;
  text-align: center;
}

/* Covid Map */

.sectionCovidMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionCovidMap h2 {
  margin-bottom: 7px;
}
.sectionCovidMap p {
  margin: 0;
  color: #404040;
  font-size: 0.8rem;
}

.sectionCovidMap .covidMapImg {
  margin-top: 40px;

  width: 100%;
  height: auto;

  max-width: 1600px;
  margin-top: 40px;

  border-radius: 20px;
}

.covidMap .covidMapImgDescription {
  margin-left: auto;
}

/* Symptoms */

.sectionSymptoms {
}

.sectionSymptoms .gridSymptoms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionSymptoms .gridSymptoms p {
  background-color: #d6edce;

  padding: 10px 20px;
  margin: 10px;

  border-radius: 20px;
  font-weight: bold;
}

.sectionSymptoms img {
  object-fit: cover;

  width: 100%;
  height: auto;

  max-width: 1000px;
  margin-top: 40px;
}

/*  */

.sectionTransmission {
  max-width: 1200px;
  width: 100%;
  /* background-color: red; */
}
.sectionTransmission h2 {
  margin-bottom: 7px;
}
.sectionTransmission h2 {
  margin-bottom: 7px;
}

.sectionTransmission .gridTransmission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* background-color: #404040; */
  width: 100%;

  margin-top: 20px;
}

.sectionTransmission .gridTransmission .cardTransmission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 200px;
  width: 100%;
  height: 160px;

  margin: 10px;
  padding: 18px 20px;

  background-color: #d6edce;
  text-align: center;

  border-radius: 5px;
}

.sectionTransmission .gridTransmission img {
  width: 70px;
  margin: 0;
}

.sectionTransmission .gridTransmission p {
  margin: 10px;

  border-radius: 20px;
  font-weight: bold;
}

.sectionTransmission img {
  object-fit: cover;

  width: 100%;
  height: auto;

  max-width: 1000px;
  margin-top: 40px;
}

/*  */

.sectionApi {
  padding: 0;
  margin-top: 80px;
  align-items: flex-start;

}
.sectionApi p {
  font-size: 1rem;
}

.sectionApi a {
  background-image: linear-gradient(to right, #0fd850 0%, #00e3ae 100%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 10px;
}
