.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section{
  padding: 100px 0;
}

.backMenu {
  font-size: 1rem;
}

.title {
  font-size: 2.7rem;
  text-align: center;
  margin-top: 3rem;
}

.subtitle{
  font-size: 1.8rem;
  text-align: center;
}

/*  */

.statsGrid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 0 20px;

  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.statsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 18px 60px;
}


/* @media (max-width: 870px) {

  .statsGrid {
    flex-direction: column;
  }
} */

.statsBlock h3 {
  margin: 0 0 18px 0;
  font-size: 2rem;
  color: #eb4559;
}

.statsBlock span {
  font-size: 1rem;
  color: #404040;
}

.statsBlock .recoveveredCasesColor{
  color: #00A600;
}



/* ------ */

.covidMap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covidMap h2{
  margin-bottom: 7px;
}
.covidMap p{
  margin: 0;
  color: #404040;
  font-size: 0.8rem;
}


.covidMap .covidMapImg{
  margin-top: 40px;


  width: 100%;
  height: auto;

  max-width: 1600px;
  margin-top: 40px;
}
