.button{
  padding: 15px 60px;
  border: none;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color:#00a600;
  color: white;

  margin: 40px 0 80px 0;
}


.button:hover{

  background-color:#006d00;
  color: white;
}
