.button {
  padding: 14px 60px;
  border: none;
  font-size: 1.2rem;
  border-radius: 30px;

  margin: 40px 0 80px 0;

  color: white;
  background-image: linear-gradient(to right, #0fd850 0%, #00e3ae 100%);
}

.button:hover {
  transition: all 0.2s ease;
  color: white;
  background-image: linear-gradient(to right, #0cac40 0%, #00b58b 100%);
}
