.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  max-width: 1600px;
  margin-top: 3rem;
  transition: 1s ease;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 1200px;
  background-color: #00a600;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.card {
  display: flex;
  max-width: 450px;
  height: 170px;

  margin: 20px 10px;

  border: 1px solid #eaeaea;
  border-radius: 5px;

  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition:  0.2s ease;

}

.card img {
  border-radius: 5px 0 0 5px;

  width: 200px;

  object-fit: cover;
  object-position: 50% 50%;
}

.card:hover {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  box-shadow: 0 7px 7px  rgba(0, 0, 0, 0.3);

  transform: translateY(-7px);
  /* transform: scale(1.1) ; */
  transition:  0.2s ease;


}

.newsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 10px;
}

.newsTextTitle {
  font-size: 1rem;
  font-weight: 600;
}

.newsTextSource {
  font-size: 0.9rem;
  color: #404040;
}

@media (max-width: 800px) {
  .card {
    margin: 20px 0;
  }
}

@media (max-width: 470px) {
  .card {
    margin: 20px 0;
    flex-direction: column;

    height: auto;
    max-height: none;
    max-width: 290px;
  }

  .card img {
    border-radius: 10px 10px 0 0;

    width: 100%;
    height: auto;
    /* max-width: 290px;
    max-height: 190px; */
  }
}
