.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.7rem;
  margin-top: 3rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  max-width: 1600px;
  margin-top: 3rem;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 1200px;
  background-color: #00a600;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.card {
  display: flex;
  width: 410px;
  height: 170px;

  margin: 20px 10px ;

  border: 1px solid #eaeaea;
  border-radius: 10px;

  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: 0.2s
}

@media (max-width: 800px) {
  .card {
    margin: 20px 0;
  }
}

.card:hover {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: 0.2s;
}

.card img {
  border-radius: 10px 0 0 10px;
  width: 210px;
  height: 170px;
}

.newsText {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsTextTitle {
  font-size: 1rem;
  font-weight: 600;
}

.newsTextSource {
  font-size: 0.9rem;
  color: #404040;
}
